In [2]:
class MathUtils:

    @staticmethod
    def average(a, b):
        return (a + b) / 2

print(MathUtils.average(2, 1))

1.5

In [4]:
import itertools as it

In [85]:
import itertools as it
class Solution(object):
    def threeSum(self, nums):
        #return (list(map(list, it.filterfalse(lambda elem: sum(elem) != 0, it.combinations(nums, 3)))))
        #full = map(list, it.filterfalse(lambda elem: sum(elem) != 0, it.combinations(nums, 3)))
        #list[list[int]]
        #result = list()
        print(result)
        sorted_result = [[]]
        for el in it.filterfalse(lambda elem: sum(elem) != 0, it.combinations(nums, 3)):
            if sorted(el) not in sorted_result:
                result.append(list(el))
                sorted_result.append(sorted(el))
                
        return(result)
       
        
sol = Solution()
sol.threeSum([-1, 0, 1, 2, -1, -4])

#print(sorted((4,3,5)))

[]

[[-1, 0, 1], [-1, 2, -1]]

In [12]:
import os
print(os.getcwd())
path = os.environ.get("PATH", os.defpath).split(os.pathsep)
print(os.environ.get("PATH"))
print(os.environ.

D:\upx_notebooks\Practice notebooks - Python OOPs
c:\anaconda\Library\bin;C:\Anaconda;C:\Anaconda\Library\mingw-w64\bin;C:\Anaconda\Library\usr\bin;C:\Anaconda\Library\bin;C:\Anaconda\Scripts;C:\Anaconda\bin;C:\ProgramData\Oracle\Java\javapath;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Program Files\PuTTY\;C:\Program Files (x86)\scala\bin;C:\Program Files (x86)\scala\bin; C:\Program Files\Java\jdk1.8.0_101\bin; C:\Users\Upen Bendre\AppData\Local\Programs\Python\Python36-32\Scripts\; C:\Users\Upen Bendre\AppData\Local\Programs\Python\Python36-32\;C:\glassfish3\jdk\bin;
.;C:\bin

In [18]:
fh = open("D:\\upx_notebooks\\Files\\test_file01.txt", 'r')

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\upx_notebooks\\Files\\test_file01.txt'

In [24]:
os.chdir('D:\\upx_notebooks\Files')

In [26]:
os.getcwd()

'D:\\upx_notebooks\\Files'

In [44]:
fh = open("test_file_01.txt", 'r')

In [35]:
read_all = fh.read()   #Returns one big string with contents of file
read_lines = fh.readlines()   #Returns one big list with each element as record in the file.
#Read puts the whole file in a String and readlines puts the whole file in a list of records.
#Once you execute anyone of these commands, the file pointer is set to the end of the file.
#Another read command will now return a ''

In [37]:
print(type(read_all), type(read_lines))

<class 'str'> <class 'list'>

In [33]:
fh.readable()   #Returns whether file was opened for reading

True

In [42]:
read_line = fh.readline()
print(read_line)

Mary had a little lamb, little lamb .... litteeellllleeee.... laaaamb...

In [56]:
fh2 = open("new_file_01", 'w')

In [57]:
line = []
line.append('Mary had a little lamb, little lamb .... litteeellllleeee.... laaaamb...')
line.append('Five little monkeys jumping on a bed .... one fell down and bumped his head...')
line.append('head... shoulder knees and toes ... knees and toes ....')
line.append('Three little kittens .. they lost their mittens.... and they began to cry .... ')
line.append('Hey diddle... diddle... the cat and a fiddle... the cow jumped over the moon .....') 
line.append('Row.. row .. row your boat .... gently down the stream ...')
line.append('one two buckle my shoe .... three four shut the door....')
line.append('little bo peep has lost her sheep... and doesnt know where to find them....')

In [58]:
fh2.writable()

True

In [59]:
fh2.writelines(line)

In [60]:
print(fh2.read())

UnsupportedOperation: not readable

In [66]:
fh3 = open("new_file_02", 'w+')
print(fh3.readable(), fh3.writable())
fh3.write

True True

AttributeError: '_io.TextIOWrapper' object has no attribute 'writeline'

In [63]:
fh3.closed

False

In [86]:
with open("test_file_03.txt", 'r') as f1:
    with open("text_file_new_01.txt", 'w+') as f2:
        with open("text_file_new_02.txt", 'a') as f3:
            for rec in f1.readlines():
                if "little" in rec: 
                    f2.write(rec)
                    print(rec.find("lamb"))  #find returns -1 if substring not found, otherwise returns the position
            #f2.write(f1.read())
            #f3.write(f1.read())  #Does not work since the first read took f1's pointer to the end

#print(f1.readable(), f2.writable())  #Will not work if file is closed

print(f1.closed, f2.closed, f3.closed)
#f22 = open("text_file_new_01.txt",'r')
#print(f22.read())
with open("text_file_new_01.txt", 'r') as f23: print(f23.read())

18
-1
-1
-1
True True True
Mary had a little lamb, little lamb .... litteeellllleeee.... laaaamb...
Five little monkeys jumping on a bed .... one fell down and bumped his head...
Three little kittens .. they lost their mittens.... and they began to cry ....
little bo peep has lost her sheep... and doesnt know where to find them....

In [107]:
"""os.SEEK_POS, os.SEEK_CUR, os.SEEK_END are constants i.e. 0,1,2 representing start, current and end character position in file"""
fs = open("test_file_02.txt", 'r')
fs.seek(0, os.SEEK_SET)
print(fs.readline())
fs.seek(0, os.SEEK_CUR)
print(fs.readline())
fs.seek(0, os.SEEK_END)
print(fs.readline())
#fs.seek(-10, os.SEEK_END)

In [103]:
import pandas as pd
import numpy as np

In [112]:
os.chdir("D:\\upx_notebooks\\Excels")
os.getcwd()

'D:\\upx_notebooks\\Excels'

In [171]:
df_ex = pd.read_excel("UPEN___CHANDAN.xls",skiprows=11, index_col='Scrip Name')
df_ex.columns[0:11]
#df_ex
#df_ex.dropna(subset=df_ex.columns, how="all")
df_ex.dropna(subset=df_ex.columns[[0,3,6,8]], how="all").fillna(0).head(10)
df_ex.iloc[0:]

,IsIn,Buy Qty,Buy Rate,Buy Val,Sell Qty,Sell Rate,Sell Val,Cl Rate,Cl Val,Profit & Loss,Income Tax
Scrip Name,,,,,,,,,,,
SPECULATION GAIN / LOSS For Party ( C19423 ),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ACC LIMITED,INE012A01025,75.0,1546.99,116024.42,75.0,1549.23,116192.34,0.0,0.0,167.92,50.38
APTECH LIMITED,INE266F01018,2903.0,76.39,221771.70,2903.0,76.86,223111.58,0.0,0.0,1339.88,401.96
AXIS BANK LIMITED,INE238A01034,300.0,498.10,149429.76,300.0,496.75,149023.83,0.0,0.0,-405.93,-121.78
BAJAJ AUTO LIMITED,INE917I01010,50.0,2591.55,129577.73,50.0,2593.22,129660.93,0.0,0.0,83.20,24.96
BEML LIMITED,INE258A01016,125.0,872.64,109080.51,125.0,877.97,109745.93,0.0,0.0,665.41,199.62
BHARAT PETROLEUM CORP LT,INE029A01011,200.0,1000.12,200023.58,200.0,1001.19,200237.42,0.0,0.0,213.84,64.15
COLGATE PALMOLIVE LTD.,INE259A01022,127.0,874.05,111004.63,127.0,875.22,111153.05,0.0,0.0,148.42,44.53
DEWAN HOUSING FIN CORP LT,INE202B01012,500.0,202.70,101347.50,500.0,201.99,100993.70,0.0,0.0,-353.80,-106.14
GUJ NAR VAL FER & CHEM L,INE113A01013,1400.0,163.67,229132.47,1400.0,164.78,230693.75,0.0,0.0,1561.28,468.38
INDIABULLS VENTURES LTD,INE274G01010,13000.0,29.41,382274.40,13000.0,29.37,381836.60,0.0,0.0,-437.80,-131.34
INDO COUNT INDUSTRIES LTD,INE483B01018,150.0,732.42,109863.18,150.0,739.45,110917.14,0.0,0.0,1053.96,316.19
INTELLECT DESIGN ARENA,INE306R01017,500.0,214.38,107188.40,500.0,215.69,107842.60,0.0,0.0,654.20,196.26
JSW STEEL LIMITED,INE019A01020,100.0,1424.54,142453.50,100.0,1426.07,142606.58,0.0,0.0,153.08,45.92
JUBILANT FOODWORKS LTD,INE797F01012,100.0,1051.51,105151.18,100.0,1049.68,104967.53,0.0,0.0,-183.65,-55.10
JUSTDIAL LTD.,INE599M01018,100.0,665.63,66563.46,100.0,666.03,66602.66,0.0,0.0,39.20,11.76
LUPIN LIMITED,INE326A01037,400.0,1519.51,607804.68,400.0,1503.67,601467.68,0.0,0.0,-6337.00,-1901.10
MAGMA FINCORP LIMITED,INE511C01022,1000.0,105.06,105060.00,1000.0,105.95,105945.70,0.0,0.0,885.70,265.71
MAHINDRA & MAHINDRA LTD,INE101A01026,280.0,1342.67,375947.25,280.0,1344.63,376497.73,0.0,0.0,550.48,165.14
MAN INFRA LTD,INE949H01023,2500.0,49.13,122825.25,2500.0,49.93,124823.75,0.0,0.0,1998.50,599.55
MULTI COMMODITY EXCHANGE,INE745G01035,100.0,1121.00,112099.72,100.0,1122.65,112265.33,0.0,0.0,165.61,49.68
NATCO PHARMA LTD.,INE987B01026,300.0,457.55,137265.15,300.0,456.77,137030.61,0.0,0.0,-234.54,-70.36
RAYMOND LTD,INE301A01014,100.0,512.03,51203.06,100.0,513.25,51324.82,0.0,0.0,121.76,36.53
SML ISUZU LIMITED,INE294B01019,200.0,1176.07,235213.29,200.0,1178.28,235655.62,0.0,0.0,442.33,132.70
TATA MOTORS LIMITED,INE155A01022,250.0,461.87,115467.90,250.0,463.82,115955.55,0.0,0.0,487.65,146.30
TATA STEEL LIMITED,INE081A01012,500.0,322.92,161459.65,500.0,325.72,162862.15,0.0,0.0,1402.50,420.75
TITAGARH WAGONS LTD.,INE615H01020,1000.0,92.81,92805.50,1000.0,93.05,93053.30,0.0,0.0,247.80,74.34
VETO SWITCHGEAR CABLE LTD,INE918N01018,800.0,124.81,99848.88,800.0,128.81,103049.76,0.0,0.0,3200.88,960.26
TOTAL SPECULATION GAIN / LOSS For Party ( C19423 ) :-,NaN,27060.0,4497886.75,NaN,27060.0,4505517.64,NaN,0.0,NaN,7630.88,2289.25
SHORT TERM GAIN / LOSS For Party ( C19423 ),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
SUN PHARMACEUTICAL IND L,INE044A01036,50.0,930.32,46515.98,50.0,779.64,38982.06,0.0,0.0,-7533.92,0.00
TATA MOTORS LIMITED,INE155A01022,40.0,395.19,15807.41,40.0,575.51,23020.48,0.0,0.0,7213.06,0.00
TATA STEEL LIMITED,INE081A01012,35.0,240.50,8417.40,35.0,493.58,17275.15,0.0,0.0,8857.75,0.00
TOTAL LONG TERM GAIN / LOSS For Party ( C19423 ) :-,NaN,489.0,205047.74,NaN,489.0,240434.23,NaN,0.0,NaN,35386.49,0.00
HOLDINGS For Party ( C19423 ),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BANK OF BARODA,INE028A01013,120.0,308.03,36963.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CIPLA LTD,INE059A01026,30.0,619.66,18589.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTAINER CORP OF IND LTD,INE111A01017,100.0,1264.26,126425.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUMMINS INDIA LTD,INE298A01020,100.0,911.20,91120.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GODREJ PROPERTIES LTD,INE484J01027,250.0,375.54,93883.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HCL TECHNOLOGIES LTD,INE860A01027,50.0,888.93,44446.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ICICI BANK LTD.,INE090A01021,300.0,282.17,84650.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INTELLECT DESIGN ARENA,INE306R01017,1700.0,132.67,225543.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NMDC LTD.,INE584A01023,150.0,140.19,21028.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OIL AND NATURAL GAS CORP.,INE213A01029,175.0,323.68,56643.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PIRAMAL ENTERPRISES LTD,INE140A01024,50.0,1961.41,98070.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PUNJAB NATIONAL BANK,INE160A01022,150.0,168.13,25219.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
QUICK HEAL TECH LTD,INE306L01010,500.0,276.89,138447.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S H KELKAR AND CO. LTD.,INE500L01026,400.0,316.16,126465.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SSLT,INE205A01025,175.0,209.44,36652.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STATE BANK OF INDIA,INE062A01020,75.0,244.21,18315.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUN PHARMACEUTICAL IND L,INE044A01036,140.0,778.77,109027.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TATA MOTORS LIMITED,INE155A01022,102.0,395.19,40308.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TATA STEEL LIMITED,INE081A01012,125.0,241.37,30171.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WIPRO LTD,INE075A01022,65.0,652.35,42402.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,1464376.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Open Sell Position For Party ( C19423 ),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INDIAN OIL CORP LTD,INE242A01010,0.0,0.00,0.00,750.0,353.33,264995.96,0.0,0.0,264995.96,0.00
TOTAL Open Sell Position For Party ( C19423 ) :-,NaN,0.0,0.00,NaN,750.0,264995.96,NaN,0.0,NaN,264995.96,0.00
"Note: This report is Calculation for deriving profit and loss amount by FIFO method based purely on Trade data of BSE and NSE segment since April 2010 and not on Settlement Number, Settlement Type, Delivery Pay-in/Pay-out and Corporate Action.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [222]:
df_ex2 = pd.read_excel("UPEN___CHANDAN.xls", sheetname=None, skiprows=11, index_col=0)
type(df_ex2)
df_ex2["Chandan"]

df_all = pd.DataFrame()

for (name, sheet) in df_ex2.items():
    #sheet.set_index("Scrip Name", inplace=True)
    #print(sheet)
    #sheet.dropna(subset=sheet.columns[[0,3,6,8]], how="all").fillna(0)
    df_curr = sheet.dropna().fillna(0)
    #print(df_curr)
    df_all = df_all.append(df_curr)
    
#df_all.sort_index()
df_all.size

1452

In [223]:
writer = pd.ExcelWriter("full_excel.xls")  #overwrites file if it exists
df_all.to_excel(writer, "all_scrips")    #Little strange. writer object is modified here, but its on the right side
writer.save()   #actual file is not written unless save() method on writer is called.

In [206]:
os.getcwd()

'D:\\upx_notebooks\\Excels'

In [225]:
with pd.ExcelWriter('ful_excel2.xlsx') as writer:`
    df_all.to_excel(writer, sheet_name='Sheet1')
    df_ex.to_excel(writer, sheet_name='Sheet2')

In [226]:
x = set("Upen Bendre")

In [227]:
x  #Automatically set becomes list of singularized elements

{' ', 'B', 'U', 'd', 'e', 'n', 'p', 'r'}

In [228]:
x.remove('B')   #Remove elements

In [229]:
x

{' ', 'U', 'd', 'e', 'n', 'p', 'r'}

In [230]:
x.add("b")   #Add elements

In [231]:
x = set("Keya Bendre")   #Make the set pointer, point to another set (this is not modifying a set)

In [232]:
x[0] = 'k'   #Cannot point to a specific element in Set and modify

TypeError: 'set' object does not support item assignment

In [233]:
x1 = set([1,2,3],[4,5])  #Cannot have multiple lists in a set since they are not hashable

TypeError: set expected at most 1 arguments, got 2

In [234]:
y = set("Chandan Bendre")
x.difference(y)

{'K', 'y'}

In [235]:
z = frozenset("Upen Bendre")

In [236]:
z.difference(x)

frozenset({'U', 'p'})

In [237]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [239]:
# x^2 + y^2 = z^2
[(x,y,z) for x in range(1,10) for y in range(1,10) for z in range(1,10) if x**2 + y**2 == z**2]

[(3, 4, 5), (4, 3, 5)]

In [249]:
a = [1,2,3,4,5]
b = [3,2,1,4,2]
c = [8,6,7,3,1]
fm = map(lambda x: x*2, a)
print(list(fm))
fmm = map(lambda x,y,z: x+y>z, a,b,c)
print(list(fmm))
from functools import reduce
sm = reduce(lambda x,y: x+y, a)
sm

[2, 4, 6, 8, 10]
[False, False, False, True, True]

15

In [250]:
"""
import xyz as p
means that you will import package xyz and address it as p. 

from xyz import func1
means that you imported only function func1 from package xyz. Now func1 can be addressed directly in the program.
The downside is that if you had a func1 function in your own program, it will not be referred to.
Instead the func1 from xyz is referred when you say func1
"""

'\nimport xyz as p\nmeans that you will import package xyz and address it as p. \n\nfrom xyz import func1\nmeans that you imported only function func1 from package xyz. Now func1 can be addressed directly in the program.\nThe downside is that if you had a func1 function in your own program, it will not be referred to.\nInstead the func1 from xyz is referred when you say func1\n'

In [253]:
np.random.randint(40,50,size=(5,5))  #random integer array of 5x5 with numbers between 40 and 50

array([[45, 47, 42, 47, 45],
       [49, 45, 42, 47, 48],
       [40, 41, 46, 40, 41],
       [43, 45, 47, 41, 47],
       [41, 43, 44, 43, 41]])

In [255]:
np.random.randn(3,4,5)  # 3x4x5 array of random floating point numbers. ALl numbers falling in a normal dist of 0 to 1 probability

array([[[-0.45943735, -0.61407168, -0.07321967, -0.45551704,  0.06969222],
        [ 0.17714754, -2.55895198, -0.91323618,  0.91685724, -1.10564981],
        [ 0.3619846 ,  2.36061833,  0.62982836, -0.31540372,  0.23575052],
        [-0.54930227, -0.51397899, -0.20676682, -0.18803282,  0.38048933]],

       [[ 0.31851467, -0.99394836,  0.29255195, -0.84103745,  0.28536107],
        [ 1.29064849,  1.03086626,  0.63683496, -0.84621238,  2.17214984],
        [-2.35938197,  0.62520342, -0.68547874,  1.15494676,  1.32981737],
        [-2.1138886 ,  1.04110692,  0.31564679, -0.58351113,  0.55520094]],

       [[-0.69020603,  0.28614187,  0.39064592,  0.27325379,  0.14265285],
        [-0.25686161,  0.44480369,  1.83939281, -0.75976978,  0.88236111],
        [ 0.71819958,  0.92622565,  0.95728298, -0.26260857, -0.82413373],
        [ 0.27229416, -0.62882126, -0.11957026, -0.86882053,  0.30907714]]])

In [267]:
dfe = pd.DataFrame(data=np.random.randint(25, size=(5,5)), 
                  index=['idx1','idx2','idx3','idx4','idx5'],
                  columns=['col1','col2','col3','col4','col5'])
dfe

      col1  col2  col3  col4  col5
idx1     0     2    12     9    16
idx2     2    14    17    24     1
idx3    21    13    20     6     3
idx4     5     3    15    13    12
idx5    11    12    18    10    24

In [268]:
np.linalg.norm(dfe['col1'].loc['idx1'] - dfe['col2'].loc['idx5'])   #Euclidian distance between two cells in dataframe

12.0

In [283]:
import pymongo
from pymongo import MongoClient
client = MongoClient(host='cluster0-shard-00-00-jxeqq.mongodb.net', port=27017, username='m001-student', password='m001-mongodb-basics')

In [284]:
db = client['coursera-agg']   #Just a handler created. No connection made yet

In [285]:
coll = db['orders']   #Just a handler created. No connection made yet

In [286]:
import pprint   #Will be used for printing

In [287]:
coll.find_one()   #Now actually attempts the database query, because while creating the client we left the default as connect=False

ServerSelectionTimeoutError: connection closed